.toolbar-action {
  @apply
    flex
    items-center
    justify-center
    block
    w-10
    h-10
  ;

  > button {
    @apply
      h-full
      w-full
      transition
      outline-none
      flex
      items-center
      justify-center
      bg-transparent
      text-gray-900
      rounded-lg
      border
      border-transparent
      hover:border-blue-100
      hover:bg-blue-50
      disabled:cursor-not-allowed
      disabled:opacity-50
      disabled:text-gray-500!
      disabled:bg-gray-100!
    ;

    > span {
      @apply sr-only;
    }

    &:before {
      content: '';

      @apply
        block
        text-lg
        text-gray-700
        transition
      ;
    }

    &.active {
      @apply
        text-blue-700
        border-blue-100
        bg-blue-50
        shadow-inner
      ;

      &:before {
        @apply
          scale-110
          text-blue-700
        ;
      }
    }
  }
}
