.toolbar-action-group {
  @apply
    relative
  ;

  > button {
    &:after {
      content: '';

      @apply
        i-ph:caret-down
        block
        text-xs
      ;
    }
  }

  > .toolbar-menu {
    @apply
      invisible
      absolute
      border
      border-t-none
      rounded
      rounded-t-none
      shadow
      bg-white
      top-10
      flex
      flex-col
      transition
      -translate-y-1/4
    ;
  }

  &.toolbar-menu-open {
    > button {
      @apply
        bg-white
        shadow
      ;

      &:after {
        @apply
          i-ph:caret-up
        ;
      }
    }

    > .toolbar-menu {
      @apply
        z-1
        visible
        translate-y-0
      ;
    }
  }
}
